.feature-request {
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 1.5em;
}

.feature-request:last-of-type {
    border-bottom: none;
}

.parsley-errors-list {
    position: relative;
    margin-top: -0.5em;
    color: #ff0000;
}

.parsley-errors-list li {
    list-style: none;
}